<!DOCTYPE html>
<html>
	<head>
		<title>To Do Controller</title>
		<script src= "lib\angular.min.js"></script>
		<script src= "Controller\todoController.js"></script>
	</head>
	<body ng-app="myApp" ng-controller="todoCtrl">
		<h2>Todo List</h2>

		<form ng-submit="todoAddItem()">
			<input type="text" ng-model="todoInput" size="70" placeholder="Add New">
			<input type="submit" value="Add New Item">
		</form>

		<br/>

		<div ng-repeat="todoItem in todoList">
			<input type="checkbox" ng-model="todoItem.done"> <span ng-bind="todoItem.todoText"></span>
		</div>

		<p>
			<button ng-click="removeItem()">Remove marked Item</button>
		</p>

	</body>
</html>
